* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background-waves.jpg);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 10rem;

  clip-path: circle(50% at 50% 50%);
}

h1 {
  color: var(--gray);
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

.blockIcon {
  width: 3rem;
  height: 3rem;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: rgb(50, 50, 56);
}